/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
  background-color: #f8f9f9;
}

.ds4a-body {
  margin-left: 18rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-graphs {
  margin-top: 1px;
  margin-left: 17rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 120px;
  width: 100%;
  margin-left: 16rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1rem;
  background-color: #aab7b8;
}

.my_box_container {
  display: flex;
}

.my_box_input {
  cursor: pointer;
}

.my_box_label {
  background: #d1d8da;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
}
.nav-tabs > li > a {
  fontColor': 'blue';
  color: #575757;
}

.nav.navbar-nav.navbar-right li a {
  fontColor': 'blue';
  color: rgb(116, 116, 128);
}
