/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
  background-color: #f8f9f9;
}

.ds4a-body {
  margin-left: 18rem;
  margin-right: 2rem;
  padding: 1rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-graphs {
  margin-top: 1px;
  margin-left: 17rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-title {
  top: 0;
  left: 0;
  z-index: 999;
  /* height: 120px; */
  width: 100%;
  /* margin-left: 16rem;
  margin-right: 2rem; */
  padding: 1rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1rem;
  background-color: #afafaf;
}

.my_box_container {
  display: flex;
}

.my_box_input {
  cursor: pointer;
}

.my_box_label {
  padding: 0.05rem 0.5rem;
  border-radius: 0.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ffffff57;
}

.wrapper {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-end;
}

/* *[data-dash-is-loading="true"]{
  visibility: hidden;
} */

/* .custom-tabs-container {
  width: 90%;
} */
.custom-tabs {
  border-top-left-radius: 3px;
  background-color: #f9f9f9;
  padding: 0px 24px;
  border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
  color:#586069;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 50px !important;
  font-family: "system-ui";
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.custom-tab--selected {
  color: black;
  box-shadow: 1px 1px 0px white;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-top: 3px solid #e36209 !important;
}
.dash-spreadsheet-container table {
  --accent: #1EAEDB !important;
  --selected-background: #3639ff !important;
  --selected-color: #3C3C3C !important;
}